<nav
    class=" flex flex-col justify-around items-center h-screen text-soft-white motion-preset-fade motion-duration-3000">
    <section class="font-primary flex flex-col items-center ">
        <p class="text-2xl">The Last of</p>
        <h1 class="text-8xl font-bold">Coders</h1>
    </section>

    @if (authService.currentUserSignal() === null) {
    <section class=" font-primary flex flex-col items-center gap-5">
        <a class="text-2xl hover:bg-deep-green px-4 py-1.5 rounded-xl cursor-pointer" routerLink="/login"
            routerLinkActive="active">Se connecter</a>
        <a class="text-2xl hover:bg-deep-green px-4 py-1.5 rounded-xl cursor-pointer" routerLink="/register"
            routerLinkActive="active">S'enregister</a>
    </section>
    }
    @if (authService.currentUserSignal()) {
    <section class="font-primary text-2xl transition-colors hover:opacity-50">
        <a class="cursor-pointer" (click)="logOut()">Se Deconnecter</a>
    </section>
    }

    <!-- les doits de la page et mise à jour des dates automatiquement -->
    <section class="text-center text-xs text-gray-500 font-primary">
        <p>&copy; {{currentYear}} <span class="text-apple-green">The Last Coders.</span> Tous droits réservés.</p>
    </section>
</nav>