<section>
    <section class="font-primary flex flex-col items-center">
        <p class="text-2xl">The Last of</p>
        <h1 class="text-8xl font-bold">Coders</h1>
    </section>

    <section>
        <form class="flex flex-col items-center gap-5">
            <input type=" text" formControlName="username" placeholder="Nom d'utilisateur" class="input" />
            <input type="email" formControlName="email" placeholder="Email" class="input" />
            <input type="password" formControlName="password" placeholder="Mot de passe" class="input" />
            <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe"
                class="input" />
            <button type="submit" class="btn">S'enregistrer</button>
        </form>
    </section>
</section>