<main class="min-h-52 p-4 font-secondary">
    <form [formGroup]="linkForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        @if (errorMessage) {
        <div class="bg-red-100 text-red-700 p-3 rounded">
            {{ errorMessage }}
        </div>
        }

        <!-- Upload d'image -->
        <div class="form-group">
            <label class="block mb-1">Image</label>
            <div class="flex flex-col items-center gap-2">
                @if (imagePreview) {
                <img [src]="imagePreview" alt="Aperçu" class="w-32 h-32 object-cover rounded-lg">
                <div class="text-xs" [class.text-green-600]="base64Ready" [class.text-red-600]="!base64Ready">
                    @if (base64Ready) {
                    <div class="flex items-center gap-1">
                        <span class="material-symbols-outlined opacity-70">
                            priority
                        </span>
                        <span>Image prête</span>
                    </div>
                    } @else {
                    <div>
                        <span class="material-symbols-outlined">
                            hourglass_empty
                        </span>
                        <span>Image en traitement...</span>
                    </div>
                    }
                </div>
                }
                <div class="w-full">
                    <input type="file" accept="image/*" (change)="onFileSelected($event)" class="hidden" #fileInput>
                    <button type="button" (click)="fileInput.click()"
                        class="w-full p-2 border-2 border-dashed border-apple-green rounded-lg text-center hover:bg-apple-green/10 transition-colors">
                        @if (!imagePreview) {
                        <span>Choisir une image</span>
                        } @else {
                        <span>Changer l'image</span>
                        }
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <span *ngIf="linkForm.get('title')?.invalid && linkForm.get('title')?.touched">
                <span class="text-red-400 text-xs">Titre requis</span>
            </span>
            <label class="block mb-1">Titre <span class="text-red-500">*</span></label>
            <input type="text" formControlName="title"
                class="w-full p-2 rounded border-apple-green border-b-2 text-soft-white/70 placeholder:border-soft-white/50 selection:bg-deep-green focus:outline-none focus:border-apple-green">
        </div>

        <div class="form-group">
            <span *ngIf="linkForm.get('description')?.invalid && linkForm.get('description')?.touched">
                <span class="text-red-400 text-xs">Description requise</span>
            </span>
            <label class="block mb-1">Description <span class="text-red-500">*</span></label>
            <textarea formControlName="description" rows="3"
                class="w-full p-2 rounded bg-dark-gray border-2 border-apple-green text-soft-white focus:outline-none focus:border-apple-green"></textarea>
        </div>

        <div class="form-group">
            <span *ngIf="linkForm.get('url')?.invalid && linkForm.get('url')?.touched">
                <span class="text-red-400 text-xs" *ngIf="linkForm.get('url')?.errors?.['required']">URL requise</span>
                <span class="text-red-400 text-xs" *ngIf="linkForm.get('url')?.errors?.['invalidUrlFormat']">L'URL doit
                    commencer par http:// ou https://</span>
            </span>
            <label class="block mb-1">URL du site <span class="text-red-500">*</span></label>
            <input type="url" formControlName="url"
                class="w-full p-2 rounded border-apple-green border-b-2 text-soft-white/50 selection:bg-deep-green focus:outline-none"
                placeholder="https://example.com">
        </div>

        <div class="form-group">
            <span *ngIf="linkForm.get('category')?.invalid && linkForm.get('category')?.touched">
                <span class="text-red-400 text-xs">Catégorie requise</span>
            </span>
            <label class="block mb-1">Catégorie <span class="text-red-500">*</span></label>
            <select formControlName="category"
                class="w-full p-2 rounded border-apple-green border-b-2 text-soft-white/50 selection:bg-deep-green focus:outline-none">
                <option value="">Sélectionnez une catégorie</option>
                @for (category of categories; track category) {
                <option [value]="category">{{ category }}</option>
                }
            </select>
        </div>

        <button type="submit" [disabled]="!linkForm.valid || !base64Ready"
            class="bg-apple-green text-white py-2 px-4 rounded mt-4 disabled:opacity-50 disabled:cursor-not-allowed hover:bg-deep-green transition-colors">
            Ajouter
        </button>
    </form>
</main>