<!-- Overlay du popup -->
@if (showAddLinkForm) {
<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50 motion-preset-fade motion-duration-500">
    <div class="bg-black rounded-xl shadow-xl max-w-md w-full mx-4 max-h-[90vh] overflow-y-auto">
        <div class="sticky top-0 bg-black p-4 border-b border-deep-green flex justify-between items-center">
            <h2 class="text-3xl font-semibold font-primary text-apple-green">Ajouter un nouveau lien</h2>
            <button (click)="toggleAddLinkForm()" class="text-white hover:text-gray-700">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <div class="p-4">
            <app-link-form (linkAdded)="onLinkAdded()"></app-link-form>
        </div>
    </div>
</div>
}

<!-- Contenu principal -->
<main class="min-h-screen pb-20 relative overflow-hidden motion-preset-fade motion-duration-2000">

    <!-- Background avec effet de flou -->
    @if (viewMode === 'carousel' && filteredLinks.length > 0) {
    <div class="absolute inset-0 z-0">
        <img [src]="filteredLinks[currentIndex].imageUrl" class="w-full h-full object-cover blur-md">
        <div class="absolute inset-0 bg-soft-white/40"></div>
    </div>
    }

    <!-- Titre -->
    <header class="pt-20 pb-4 text-center relative">
        <!-- Bouton d'ajout -->
        <button (click)="toggleAddLinkForm()"
            class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-apple-green text-deep-green rounded-xl p-3 shadow-lg hover:bg-deep-green hover:text-apple-green transition-colors flex items-center">
            <span class="material-symbols-outlined">add</span>
        </button>
    </header>

    <!-- Carrousel -->
    <swiper-container effect="coverflow" grab-cursor="true" centered-slides="true" slides-per-view="2" loop="false"
        coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
        coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false" pagination="false">
        <swiper-slide *ngFor=" let link of filteredLinks">
            <div class="flex flex-col items-center mb-6">
                <h3 class="font-primary  text-3xl font-bold mb-20 drop-shadow">{{ link.title }}</h3>
                <!-- ajoute systeme d'etoiles  -->
                <app-star-rating [rating]="link.averageRating || 0" [totalRatings]="link.totalRatings || 0"
                    (ratingChange)="onRatingChange(link, $event)">
                </app-star-rating>
            </div>
            <div class="max-w-2xs mx-auto rounded-4xl shadow-lg overflow-hidden relative bg-white">
                <img [src]="link.imageUrl" [alt]="link.title" class="w-full h-full object-cover rounded-4xl">
                <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black/70 to-transparent">

                    <div class="flex justify-between mt-2">
                        <button (click)="openLink(link.url)"
                            class="flex justify-center text-black items-center text-sm bg-white/80 rounded-xl px-4 py-1 hover:bg-apple-green hover:text-white transition-colors">
                            Lien de la page
                        </button>
                        <button [routerLink]="['/link', link.id]"
                            class="flex justify-center bg-apple-green text-white text-center py-1 px-6 rounded-xl shadow-xl hover:bg-deep-green transition-colors">
                            voir
                        </button>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</main>