<!-- header -->
<section class="font-primary flex flex-col items-center pt-15">
    <p class="text-xl">The Last of</p>
    <h1 class="text-5xl font-bold">Coders</h1>
</section>
<section class="flex flex-col items-center h-screen">


    <section class="flex flex-col gap-5 justify-between">

        <!-- Titre de la page -->
        <div>
            <h1 class="font-primary text-2xl mt-20 mb-5">Se connecter</h1>
        </div>

        <!-- Message d'erreur -->
        <div *ngIf="errorMessage"
            class="font-secondary font-semibold uppercase text-red-500 text-center bg-red-100 p-3 rounded-lg">
            {{ errorMessage }}
        </div>

        <!-- Formulair de connexion -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-5">
            <div class="flex gap-2">
                <span class="material-symbols-outlined">person</span>
                <input
                    class="input border-b-2 invalid:border-red-300 invalid:text-red-500 opacity-50  focus:outline-none"
                    type=" text" formControlName="email" placeholder="john@doe.com" />
            </div>
            <div class="flex gap-2">
                <span class="material-symbols-outlined">lock</span>
                <input class="input opacity-50 focus:outline-none border-b-2" type="password" formControlName="password"
                    placeholder="Mot de passe" />
            </div>
            <div class="font-primary mt-2 mb-5 opacity-50">
                <p>Oublié mot de passe</p>
            </div>
            <button type="submit"
                class="text-2xl bg-deep-green transition-colors hover:bg-apple-green px-30 py-1.5 rounded-xl cursor-pointer font-primary ">
                Se connecter
            </button>
        </form>
        <section class="font-primary flex justify-center text-xl opacity-50 mt-10">
            <a routerLink="/register" routerLinkActive="active">pas encore un compte?</a>
        </section>
    </section>
</section>